@{
    ViewBag.Title = "PayDesigner";
}

 

@*<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/angular_filter.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="~/Scripts/bootstrap337.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/customize.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.3.11/angular-route.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

<script src="~/angularfiles/projectoperation.js"></script>*@
 
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>




@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(function () {
            $('#txtProjectID').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });


        });

    </script>
}

<style type="text/css">
    .popup {
        border: 1px solid black;
        border-radius: 2px;
        background-color: white;
        margin: 2px auto 0;
        padding: 2px;
        position: absolute;
        width: 300px;
        top: 40%;
        left: 50%;
        margin-left: -250px;
        z-index: 1;
    }

    .popupColorSpecification {
        border-radius: 2px;
        margin-left: 100%;
        margin: 2px auto 0;
        padding: 2px;
        width: 300px;
        top: 23%;
        left: 0%;
    }

    
</style>



<h2 style="font-family:Arial; font-size:20pt;margin-left:50px">Designer Pay</h2> <br />
@using (@Html.BeginForm())
{
    @*div ng-app="myApp">
        <div ng-controller="myController">*@
            <div id="searchParameters" class="left-panel">

                @*<div id="dv" class="card popup" style="width:450px; height:540px;" ng-hide="projectwindow">
                    <div ng-if="dataLoading" style="  z-index: -1;">
                        <img src="~/Images/loading.gif" style="width:100%;height:50%;" />
                    </div>
                    <div class="card-body" style="height:20px;">
                        <table style="margin-left: 10px; margin-top: -1px;">
                            <tr>
                                <td style="width:790px;">
                                    <h5 class="font-weight-bold mb-3" style="font-family: Arial; font-size: 14pt;">  Add Project in List</h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr style="height:1px; border:none; color:#000; background-color:#000; " />


                    <table style="margin-left: 20px; height: 490px; width: 400px; margin-top: -15px;">

                        <tr>
                            <td style="margin-left:10px; width: 160px;  ">
                                <span style="font-family:Arial; font-size:12pt; ">Project ID</span>
                            </td>
                            <td style="width:50px"></td>
                            <td style="margin-left: 10px; width: 230px;  ">
                                <input class="form-control" type="text" style="width:220px; height:30px;font-family:Arial; font-size:12pt;" ng-model="projectID" />
                            </td>
                            <td style="margin-left: 0px;   ">
                               
                                <img src="~/Images/search.png" style="width:50%; height:6%" ng-click="SearchProjectInfo()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family:Arial; font-size:12pt; ">Client name</span>
                            </td>
                            <td style="width:50px"></td>
                            <td>
                                <input class="form-control" type="text" ng-model="txtClient" onkeydown="return false" oncopy="return false" onpaste="return false" oncut="return false" style="width:220px; height:30px;font-family:Arial; font-size:12pt;background-color:#009999;" ng-model="cname" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family:Arial; font-size:12pt; ">Put In</span>
                            </td>
                            <td style="width:50px"></td>
                            <td>
                                <select class="form-control" ng-model="ptypename2" ng-options="item for item in projectTypeList2" style="font-family:Arial; font-size:12pt; width:220px; height:30px;" />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family:Arial; font-size:12pt; ">Option </span>
                            </td>
                            <td style="width:50px"></td>
                            <td>
                                <select class="form-control" ng-model="selopt" ng-options="item for item in optionlist" style="font-family:Arial; font-size:12pt; width:220px; height:30px;" />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family:Arial; font-size:12pt; ">Conference Attachment </span>
                            </td>
                            <td style="width:50px"></td>
                            <td>

                                <input type="file" id="fileToUpload" name="fileToUpload" ng-model="files" ngf-select="UploadFiles($files)" style="width: 220px" multiple />
                                <ul><li ng-repeat="file in SelectedFiles">{{file.name}}</li></ul>
                                <div id="dvProgress" class="progress" ng-show="Progress >= 0" />
                            </td>
                        </tr>


                        <tr ng-show="interiorOperation" border="0" cellspacing="0" cellpadding="0">
                            <td></td>
                            <td style="width:50px"></td>
                            <td>
                                <table style="width:250px;height:112px;" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="width:50px;">
                                            <input name="interior" type="radio" ng-value="true" ng-disabled="isRadioAll" ng-model="rdInterior" style="font-family: Arial; font-size: 8pt; font-weight: bold; color: white; width: 10px;" />
                                            <span style="font-family:Arial; font-size:12pt;  ">All</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;"> <input name="interior" type="radio" ng-model="rdInterior" style="font-family: Arial; font-size: 12pt;   width: 10px;" /> <span style="font-family:Arial; font-size:12pt;  ">Level</span> </td>
                                        <td>
                                            <select ng-model="level" class="form-control" ng-options="item for item in arrLevellist" ng-change="fillRoom()" style="width: 170px; font-family: Arial; font-size: 12pt; "></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="font-family:Arial; font-size:12pt;">&nbsp;&nbsp;&nbsp; Room</span>
                                        </td>
                                        <td>
                                            <select ng-model="room" class="form-control" ng-options="item for item in arrRoomlist" style="width: 170px; font-family: Arial; font-size: 12pt; "></select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family:Arial; font-size:12pt; ">Remark</span>
                            </td>
                            <td style="width:50px"></td>
                            <td>
                                <textarea class="form-control" rows="3" cols="50" maxlength="50" style="width: 220px; height:50px ;  font-family:Arial; font-size:10pt;" ng-model="remark"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td></td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input class="btn btn-info" type="button" value="Submit" id="btnSubmit" ng-click="submit()" ng-disabled="isSubmitButton" style="height: 30px; width: 80px; font-family: Arial; font-size: 10pt; background-color: #9ac8f5; " />
                                        </td>
                                        <td style="width:14px;"></td>
                                        <td style="text-align:right">
                                            <input class="btn btn-info" type="button" value="Close" ng-click="HideProjectWindow()" style="height: 30px; width: 80px; font-family: Arial; font-size: 10pt; background-color: #9ac8f5; " />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>*@

                @*<div class="popup" style="width:400px;height:410px;" ng-hide="windowEdit">
                    <div ng-if="dataLoading" style="  z-index: -1;">
                        <img src="~/Images/loading.gif" style="width:100%;height:50%;" />
                    </div>
                    <div class="card-body" style="height:20px;">
                        <table style="margin-left: 10px; margin-top: -1px;">
                            <tr>
                                <td style="width:790px;">
                                    <h5 class="font-weight-bold mb-3" style="font-family: Arial; font-size: 14pt;">  Edit Project </h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr style="height:1px; border:none; color:#000; background-color:#000; " />
                    <table style="margin-left: 20px; width: 350px; height: 350px; margin-top: -10px; ">

                        <tr>
                            <td style="width:110px">
                                <span style="font-family: Arial; font-size: 10pt;    ">Project ID</span>
                            </td>
                            <td>
                                <input class="form-control" type="text" style="width:250px; height:30px;font-family:Arial; font-size:10pt;background-color:#009999;" ng-model="pidEdit" onkeydown="return false" oncopy="return false" onpaste="return false" oncut="return false" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family: Arial; font-size: 10pt;    ">Client name</span>
                            </td>
                            <td>
                                <input class="form-control" type="text" onkeydown="return false" oncopy="return false" onpaste="return false" oncut="return false" style="width:250px; height:30px;font-family:Arial; font-size:10pt;background-color:#009999;" ng-model="cnameEdit" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family: Arial; font-size: 10pt;  ">Put In</span>
                            </td>
                            <td>
                                <select class="form-control" ng-model="ptypenameEdit2" ng-options="item for item in projectTypeListEdit2" style="font-family:Arial; font-size:10pt; width:250px; height:30px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family: Arial; font-size: 10pt;  ">Conference Attachment	</span>
                            </td>
                            <td>
                                <div id="uploaders">
                                    <input type="file" id="fileToUpload1" name="fileToUpload1" ng-model="files" ngf-select="UploadFiles($files)" style="width: 220px" multiple />
                                    <ul><li ng-repeat="file in SelectedFiles">{{file.name}}</li></ul>
                                    <div id="dvProgress" class="progress" ng-show="Progress >= 0" />


                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-family: Arial; font-size: 10pt; ">Remark</span>
                            </td>
                            <td>
                                <textarea class="form-control" rows="3" cols="50" maxlength="50" style="width:250px; height:50px ; font-family:Arial; font-size:10pt;" ng-model="remarkEdit"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="text" id="txtOldEdit" style="width:0px; height:0px; border:0px;background-color:white" ng-model="oldEdit" readonly />
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input class="btn btn-info" type="button" value="Submit" ng-click="Update()" style=" width: 80px; height: 28px; font-family: Arial; font-size: 8pt; background-color: #9ac8f5;" />
                                        </td>
                                        <td>
                                            <input class="btn btn-info" type="button" value="Close" ng-click="HideWindowEdit()" style="width: 80px; height: 28px; font-family: Arial; font-size: 8pt; background-color: #9ac8f5; " />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>*@

                <div class="panel panel-primary" style="margin-left: 50px; width:1500px; height:120px;">
                    <div class="panel-heading" style="font-family: Arial; font-size: 12pt;">Select project type </div>
                    <div class="panel-body"  >
                        <table style="margin-left:5px;" border="0" colspan="0" rowspan="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <span style="font-family:Arial; font-size:10pt;  ">Designer name</span>
                                </td>
                                <td style="width:20px"></td>

                                <td>
                                    <select class="form-control" id="ddlProjectType" ng-model="pType" ng-change="ShowProjectItem()" ng-options="item for item in projectList" style="font-family:Arial;font-size:10pt;font-weight:bold; margin-left:5px; width:240px; height:30px; " />
                                </td>
                                <td>
                                    <input type="button" value="Search" />
                                </td>
                            </tr>
                        </table>


                        
                    </div>
                </div>
                <div style="margin-left:50px; padding: 0; border-collapse: collapse; width:1110px; height: 5000px; overflow: hidden; ">
                    <table class="table table-responsive table-bordered" style="margin-left:-10px; margin-top:0px; padding: 0; border-collapse: collapse; width: 1100px; text-align: left; ">
                        <thead>
                            <tr>

                                <td style="background-color:#1B1B1E;color:white; width:100px;height:30px">
                                    <span style="margin-left:10px;font-family:Arial; font-size:12pt;  ">Project ID</span>
                                </td>
                                <td style="background-color:#1B1B1E;color:white; width:300px;">
                                    <span style="margin-left:10px; font-family:Arial; font-size:12pt;  ">Client name</span>
                                </td>
                                <td style="background-color:#1B1B1E;color:white; width:80px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:12pt; ">Package</span>
                                </td>
                                <td style="background-color:#1B1B1E;color:white; width:150px;">
                                    <span style="margin-left:10px; font-family:Arial; font-size:12pt;  ">Remark</span>
                                </td>
                                <td style="background-color:#1B1B1E;color:white; width:150px;">
                                    <span style="margin-left:10px; font-family:Arial; font-size:12pt;  ">Pay</span>
                                </td>

                            </tr>
                        </thead>
                    </table>
                     
          
          
        </div>
    </div>

}
