@{
    ViewBag.Title = "Report";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>*@
<script src="~/Scripts/jquery-1.7.1.js"></script>
@*<script src="~/Scripts/angular.min.js"></script>*@
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/bootstrap337.js"></script>
<link href="~/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/dirPagination.js"></script>
<script src="~/table2excel/jquery.table2excel.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/tableheader.js"></script>

<script src="~/angularjs/report.js"></script>

 


<style type="text/css">

    .tableFixHead {
        overflow-y: auto;
        height: 500px;
    }
   .tableFixHead thead th {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }

    .popup {
        border-radius: 2px;
        background: #c3bfb7;
        margin: 2px auto 0;
        padding: 2px;
        position: absolute;
        left: 30%;
        margin-left: -250px;
        margin-top: -180px;
    }

    .myButtonSearch {
        -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
        -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3F3939), color-stop(1,#3F3939));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
        background-color: #3F3939;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #3F3939;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px -1px 0px #3F3939;
    }

   .myButtonSearch:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3F3939), color-stop(1, #3F3939));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
            background-color: #1E90FF;
        }

   .myButtonSearch:active {
            position: relative;
            top: 1px;
        }

   .foo input {
        width: 180px;
        height: 30px;
    }

   .chkBoxWidth {
        width: 150px;
        height: 10px;
    }

   .TotalAmountTextBox {
        text-align: right;
        background-color: #E8F8F5;
    }

   .table1 {
        border: 1px solid black;
    }


   .table1, th, td {
        padding: 5px;
    }

   .table1 tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

   .table1 tr:nth-child(even) {
            background-color: #ffffff;
        }



    .pagination ul li {
        display: inline;
        padding: 10px 10px 10px 10px;
        font-size: 13pt;
        background: #DED5D5;
        color: #FFFFFF;
    }


    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .popupAssign {
        /*border: 1px solid black;*/
        border-radius: 2px;
        background-color: white;
        margin: 2px auto 0;
        padding: 2px;
        /*margin: 2px auto 0;*/
        position: absolute;
        margin-left: 40%;
        margin-top: 10%;
        width: 400px;
        z-index: 1;
    }

    .popupAssign1 {
        /*border: 1px solid black;*/
        border-radius: 2px;
        background-color: white;
        margin: 2px auto 0;
        padding: 2px;
        /*margin: 2px auto 0;*/
        position: absolute;
        margin-left: 10%;
        margin-top: -10%;
        z-index: 1;
    }

   
     
</style>


<script type="text/javascript">

     
    function IsNumber(e) {

        var theEvent = event || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;

        if (!regex.test(key)) {
            theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
        }
    }

</script>


<br /><br /><br /><br /> <br /><br />
<h2 style="font-family:Arial; font-size:18pt;margin-left:50px">Report</h2>

@using (@Html.BeginForm())
{
    <div ng-app="myApp">
        <div ng-controller="myController" style="background-color:#f0f7fa" >
            
            @*Balance Adjust*@
            <div id="divID" class="popupAssign" style="width:390px; height: 300px;" ng-hide="adustBalanceWindow">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 style="font-family:Arial; font-size:14pt; margin-left:-5px; ">Balance Adjust</h5>
                    </div>
                    <div class="panel-body">
                        <table style="margin-left: 0px; height: 250px; width: 390px; margin-top: -10px; ">
                            <tr>
                                <td>
                                    <span style="font-family:Arial; font-size:10pt; ">Client name</span>
                                </td>
                                <td>
                                    <input type="text" ng-model="txtClientName" class="form-control" readonly style=" width: 225px; height: 30px; font-family: Arial; font-size: 10pt;  " />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-family:Arial; font-size:10pt; ">Balance</span>
                                </td>
                                <td>
                                    <input type="text" ng-model="txtBalance" class="form-control" readonly style=" width: 225px; height: 30px; font-family: Arial; font-size: 10pt;  " />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span style="font-family:Arial; font-size:10pt;">Adjust Amount</span>
                                </td>
                                <td>
                                    <input type="text" ng-model="txtAmount" class="form-control" onkeypress="return IsNumber();" style=" width: 225px; height: 30px; font-family: Arial; font-size: 10pt; " />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-family:Arial; font-size:10pt;">Remark</span>
                                </td>
                                <td>
                                    <input type="text" ng-model="txtRemark" class="form-control" style=" width: 225px; height: 30px; font-family: Arial; font-size: 10pt; " />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="txtClientID" ng-model="txtClientID" style="width:0px; height:0px; border:0px; background-color:white"/>
                                </td>
                                <td>
                                    <table style="margin-left:0px;">
                                        <tr>

                                            <td style="text-align:right">
                                                <input type="button" value="Close" ng-click="CloseAdustBalanceWindow()" class="btn btn-info" style=" width: 87px; height:28px; font-family: Arial; font-size: 8pt;background-color: #9ac8f5;  " />
                                            </td>

                                            <td>
                                                <input type="button" value="Submit" ng-click="SaveAdjustBalance()" class="btn btn-info" style="width:87px;height:28px; font-family:Arial; font-size:8pt; background-color: #9ac8f5;" />
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            @*Client ledger*@
            <div id={{divPDF}} class="popupAssign1" ng-hide="pdfPreviewWindow" style="margin-top: -50px; margin-left: 200px; ">
                <div class="modal-content" style="width:795px; height:535px;">
                    <div class="card-body" style="width: 795px; margin-top: 0px; margin-left: 0px; height: 30px; ">
                        <table style="margin-left: -12px; width: 790px; height: 30px;" class="shadow p-3 mb-5 bg-white rounded">
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold mb-3" style="font-family: Arial; font-size: 12pt;"> &nbsp;&nbsp; Quotation Preview</h5>
                                </td>
                                <td style="width:200px;"></td>
                                <td style="text-align:right;vertical-align:top">
                                    <img src="~/Images/closewindow.png" style="height:9%; width:8%" ng-click="closePdfPreviewWindow()" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <table ng-id={{tblQuotation}} style="margin-left: 0px; height: 500px; width: 600px; margin-top:6px; ">
                        <tr>
                            <td style="width:795px">

                                <iframe id="iframeid"
                                        src={{pdfFilePath}}
                                        width="780"
                                        height="450"
                                        frameborder="0"
                                        style="border:0"
                                        allowfullscreen></iframe>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="divID"  ng-hide="clientledgerwindow" class="popupAssign" style="margin-top: -100px; margin-left: 200px; ">
                <div class="modal-content" style="width:900px; height:430px; margin-left: 0px;">
                    <div class="card-body" style="width: 895px; margin-top: -5px; margin-left: 0px; height: 30px; ">
                        <table style="margin-left: -12px; width: 895px; height: 30px;" class="shadow p-3 mb-5 bg-white rounded">
                            <tr>
                                <td style="width:300px;">
                                    <h5 class="font-weight-bold mb-3" style="font-family: Arial; font-size: 12pt;"> &nbsp;&nbsp; Client Ledger Details</h5>
                                </td>

                                <td style="width:300px;"></td>
                                <td style=" width:100px;"></td>
                                <td style=" width:100px;"></td>

                            </tr>
                            <tr></tr>
                            <tr>
                                <td style=" width:300px;">
                                    &nbsp;&nbsp;&nbsp; <span style=" font-family: Arial; font-size: 12pt; color: black;">{{clientname}}</span>
                                </td>
                                <td style=" width:300px;">
                                    <span style=" font-family: Arial; font-size: 12pt; color: black;">{{clientaddress}}</span>
                                </td>
                                <td style=" width:0px;">
                                    <span style=" font-family: Arial; font-size: 0pt; color: black;">{{clientID}}</span>
                                </td>

                                <td style=" width:80px;">
                                    <input type="button" class="btn btn-info" value="Export" ng-click="ClientReportExport()" style="width: 80px; height:30px; font-family: Arial; font-size: 10pt;  " />
                                </td>
                                <td style=" width:100px;">
                                    <input type="button" class="btn btn-info" value="Balance Adjust" ng-click="BalanceAdjust()" style="width: 110px; height:30px; font-family: Arial; font-size: 10pt;  " />
                                </td>
                                <td style=" width:80px;">
                                    <input type="button" class="btn btn-info" value="PDF" ng-click="ClientPDFReport()" style="width: 80px;height:30px; font-family: Arial; font-size: 10pt;  " />
                                </td>
                                <td style=" width:80px;">
                                    @*<input type="button" class="btn btn-info" value="Update" ng-click="Update()" style="width: 80px;height:30px; font-family: Arial; font-size: 10pt;  " />*@
                                    @Html.ActionLink("Update", "ClientLedgerUpdate", "Admin",new { @lass = "btn btn-info", style = "width: 80px;height:30px; font-family: Arial; font-size: 10pt;  " })
                                </td>
                                <td style="text-align:right;vertical-align:central">
                                    <input type="button" class="btn btn-info" value="Close" ng-click="closeclientledgerwindow()" style="width: 80px;height:30px; font-family: Arial; font-size: 10pt;  " />
                                </td>

                            </tr>
                            <tr style="text-align:right">
                                <td style="text-align:right"  colspan="7">
                                    <span style="font-family: Arial; font-size: 12pt; ">Previous Balance {{previousbalance}}</span>
                                </td>
                            </tr>
                        </table>
                       
                    </div>
                   
                    
                    <div style="margin-top: 110px; overflow:scroll   ">

                        <table id="tblClientLedger" style="margin-left: 1px; height: 320px; width: 880px;" class="table table-striped">
                            <thead>
                                <tr style="height: 40px;  ">
                                    <th style="width:5px;  "></th>
                                    <th style="width:80px"><span style="font-family: Arial; font-size: 10pt; color:black; ">Project ID</span>  </th>
                                    <th style="width:80px"><span style="font-family: Arial; font-size: 10pt; color:black; ">Date</span>  </th>
                                    <th style="width:150px"><span style="font-family: Arial; font-size: 10pt; color: black;">Project Name</span>  </th>
                                    <th style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Project Type</span>  </th>
                                    <th style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Package</span>  </th>
                                    <th style="width:80px"><span style="font-family: Arial; font-size: 10pt; color: black;">Amount</span>  </th>
                                    <th style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Received amount</span>  </th>
                                    <th style="width:80px"><span style="font-family: Arial; font-size: 10pt; color: black;">Balance</span>  </th>
                                    <th style="width:80px"><span style="font-family: Arial; font-size: 10pt; color: black;">Remark</span>  </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ledgerDeatil ">
                                    <td style="width:5px; "></td>
                                    <td style="vertical-align:top"> <span style=" font-family: Arial; font-size: 10pt;color: black;">{{item.projectID}} </span> </td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.status }}</span></td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.projectName}}</span></td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.projectType}}</span></td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.package}}</span></td>
                                    <td style="vertical-align:top"> <span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.amount}}</span></td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.receivedAmount}} </span></td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.balance}} </span></td>
                                    <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.remark}} </span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span style=" font-family: Arial; font-size: 12pt; color: black;">Remaining balance</span></td>
                                    <td> <span style=" font-family: Arial; font-size: 12pt; color: black;"> {{clientbalance}}</span></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>



            @*Designer ledger*@
            <div id="divID1" class="popupAssign" ng-hide="designerledgerwindow" style="margin-top: -100px; margin-left: 200px; ">
                <div class="modal-content" style="width:900px; height:430px; margin-left: 0px;">
                    <div class="card-body" style="width: 895px; margin-top: -5px; margin-left: 0px; height: 30px; ">
                        <table style="margin-left: -12px; width: 895px; height: 30px;" class="shadow p-3 mb-5 bg-white rounded">
                            <tr>
                                <td>
                                    <h5 class="font-weight-bold mb-3" style="font-family: Arial; font-size: 12pt;"> &nbsp;&nbsp; Designer Ledger Details</h5>
                                </td>
                                <td style="width:300px;"></td>

                            </tr>
                            <tr>
                                <td>
                                    &nbsp;&nbsp;<span style=" font-family: Arial; font-size: 12pt; color: black;">{{designername}}</span>
                                </td>
                                <td>
                                    <span style=" font-family: Arial; font-size: 12pt; color: black;">{{designeraddress}}</span>
                                </td>
                                <td style="width:90px;">
                                    <input type="button" class="btn btn-info" value="Export" ng-click="DesignerReportExport()" style="width: 80px; font-family: Arial; font-size: 10pt;  " />
                                </td>


                                <td style="width:90px;">
                                    <input type="button" class="btn btn-info" value="Close" ng-click="closeDesignLedgerwindow()" style="width: 80px; font-family: Arial; font-size: 10pt;  " />
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div style="margin-top: 60px; overflow:scroll ">
                        <table id="tblDesignerLedger" style="margin-left: 1px; height: 320px; width: 880px;   " class="table table-striped">
                            <tr style="height: 40px;      ">
                                <td style="width:5px;  "></td>
                                <td style="width:80px"><span style="font-family: Arial; font-size: 10pt; color:black; ">Project ID</span>  </td>
                                <td style="width:80px"><span style="font-family: Arial; font-size: 10pt; color:black; ">Date</span>  </td>
                                <td style="width:150px"><span style="font-family: Arial; font-size: 10pt; color: black;">Project Name</span>  </td>
                                <td style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Project Type</span>  </td>
                                <td style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Package</span>  </td>
                                <td style="width:80px"><span style="font-family: Arial; font-size: 10pt; color: black;">Amount</span>  </td>
                                <td style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Paid amount</span>  </td>
                                <td style="width:100px"><span style="font-family: Arial; font-size: 10pt; color: black;">Balance</span>  </td>
                            </tr>
                            <tr ng-repeat="item in designerLedgerDeatil ">
                                <td style="width:5px; "></td>
                                <td style="vertical-align:top"> <span style=" font-family: Arial; font-size: 10pt;color: black;">{{item.projectID}} </span> </td>
                                <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.status}}</span></td>
                                <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.projectName}}</span></td>
                                <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.projectType}}</span></td>
                                <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.package}}</span></td>
                                <td style="vertical-align:top"> <span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.amount}}</span></td>
                                <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.paidAmount}} </span></td>
                                <td style="vertical-align:top"><span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.balance}} </span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span style=" font-family: Arial; font-size: 12pt; color: black;">Remaining balance</span></td>
                                <td> <span style=" font-family: Arial; font-size: 12pt; color: black;"> {{designerbalance}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="panel-group">
                <div class="panel panel-primary" style="margin-left: 50px; width:1100px; height:120px;">
                    <div class="panel-heading" style="font-family: Arial; font-size: 12pt;">Select date range </div>
                    <div class="panel-body" style="margin-top:-10px">

                        <table style="margin-left: -0px;width:200px;">
                            <tr>
                                <td>
                                    <span style="font-family:Arial; font-size:10pt;color:black; ">From(mm/dd/yyyy)</span>
                                </td>
                                <td>
                                    <input ng-model="fromStat" class="form-control" ng-readonly="true" datepicker type="text" style="width: 110px; height: 30px;font-family:Arial;font-size:10pt; color: black;" />

                                </td>
                                <td>
                                    <span style="font-family: Arial; font-size: 10pt; color: black;">To</span>
                                </td>
                                <td>
                                    <input ng-model="toEnd" class="form-control" ng-readonly="true" datepicker type="text" style="width: 110px; height: 30px; font-family: Arial; font-size: 10pt; color: black;" />
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel panel-default" style=" margin-left:50px; width:1100px;  margin-top:-19px">
                <div id="Tabs" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" style="font-family:Arial;font-size:10pt;color:black;">
                        <li class="active">
                            <a href="#report" aria-controls="report" role="tab" data-toggle="tab">
                                Client Ledger
                            </a>
                        </li>
                        <li><a href="#clientreceive" aria-controls="clientreceive" role="tab" data-toggle="tab">Client Receive</a></li>
                        <li><a href="#designer" aria-controls="designer" role="tab" data-toggle="tab">Designer Ledger</a></li>
                        <li><a href="#quotation" aria-controls="quotation" role="tab" data-toggle="tab">Quotation</a></li>
                        <li><a href="#balanceAdjust" aria-controls="balanceAdjust" role="tab" data-toggle="tab">Balance Adjust</a> </li>

                    </ul>
                   
                    <div class="tab-content" style="padding-top: 20px">
                        <div role="tabpanel" class="tab-pane active" id="report" style="background-color:#F8F8FF">

                            @*  Report *@
                            <div class="col-xl-12 text-center" ng-hide="loadClientLadger">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <table style="margin-left: 30px;width:80%">
                                <tr>
                                    <td style="width:100px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black"> Client name</span>
                                    </td>
                                    <td style="width:200px">
                                        <input type="text" ng-model="txtCName" class="form-control" style="width:200px;height:35px; font-family:Arial; font-size:10pt" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" ng-click="ShowClientLeager()" style="width:90px; font-family: Arial; font-size: 10pt;  ">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </button>

                                    </td>
                                    <td style="width:300px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black;font-weight:bold"> Total Balance : {{totalclientbalance}}</span>
                                    </td>

                                </tr>
                            </table>
                            <div class="tableFixHead" style="margin-left:10px; font-family:Arial; font-size:10pt; color:black">
                                <table style="width:950px;">

                                    <thead>
                                        <tr style="font-family:Arial;font-size:10pt;height: 30px;     border: solid 1px #659EC7;">
                                            <th style="width:50px;">Sno </th>
                                            <th style="width:250px;">&nbsp;&nbsp; Client Name</th>
                                            <th style="width:100px;">City </th>
                                            <th style="width:250px;">State </th>
                                            <th style="width:100px;">Balance</th>
                                            <th style="width:100px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in clientLedger ">
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.sno}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.clientName}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.city}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.state}}  </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.mobile}}  </span></td>
                                            <td> <input type="button" class="btn btn-info" value="Show" ng-click="ShowLedgerDetail(item.clientID, item.clientName , item.city, item.state )" style="width: 80px; font-family: Arial; font-size: 10pt;  " /> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="clientreceive" style="background-color:#F8F8FF">
                            <table style="margin-left: 30px;width:80%">
                                <tr>
                                    <td style="width:100px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black"> Client name</span>
                                    </td>
                                    <td style="width:200px">
                                        <input type="text" ng-model="txtClientReceive" class="form-control" style="width:200px;height:35px; font-family:Arial; font-size:10pt" />
                                    </td>
                                    <td>
                                        @*<input type="button" class="btn btn-info" value="Search" ng-click="ShowClientReceive()" style="width:80px; font-family: Arial; font-size: 10pt;  " />*@
                                        <button type="button" class="btn btn-info" ng-click="ShowClientReceive()" style="width:90px; font-family: Arial; font-size: 10pt;  ">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </button>
                                    </td>



                                    <td style="width:300px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black;font-weight:bold"> Total Balance : {{totalclientreceive}}</span>
                                    </td>
                                </tr>
                            </table>
                            <div class="tableFixHead" style="font-family:Arial; font-size:10pt; color:black">
                                <table id="tblClientLedger" style="margin-left: 10px; height: 320px; width: 880px;   " class="table table-striped">
                                    <thead>
                                        <tr style="font-family:Arial;font-size:10pt;height: 30px;     border: solid 1px #659EC7;">
                                            <th style="width:50px;">Sno </th>
                                            <th style="width:250px;">&nbsp;&nbsp; Client Name</th>
                                            <th style="width:100px;">City </th>
                                            <th style="width:250px;">State </th>
                                            <th style="width:100px;">Receive</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in clientReceiveList ">
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.sno}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.clientName}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.city}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.status}}  </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.receivedAmount }}  </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="designer" style="background-color:#F8F8FF">
                            <table style="margin-left: 30px;width:50%">
                                <tr>
                                    <td style="width:100px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black"> Designer name</span>
                                    </td>
                                    <td style="width:200px">
                                        <input type="text" ng-model="txtDName" class="form-control" style="width:200px;height:30px;font-family:Arial; font-size:10pt" />
                                    </td>
                                    <td>
                                        @*<input type="button" class="btn btn-info" value="Search" ng-click="ShowDesignerLedger()" style="width: 80px; font-family: Arial; font-size: 10pt;  " />*@
                                        <button type="button" class="btn btn-info" ng-click="ShowDesignerLedger()" style="width:90px; font-family: Arial; font-size: 10pt;  ">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </button>
                                    </td>

                                </tr>
                            </table>
                            <div class="tableFixHead" style="font-family:Arial; font-size:10pt; color:black">
                                <table style="width:950px;">
                                    <thead>
                                        <tr style=" font-family:Arial;font-size:10pt;height: 30px;  border: solid 1px #659EC7;">
                                            <th>SNo. </th>
                                            <th>Designer Name </th>
                                            <th>Designation</th>
                                            <th>City</th>
                                            <th>Balance</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in designeramountlist ">
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.sno}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.name}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.designation}} </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.city}}  </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.balance}}  </span></td>
                                            <td> <input type="button" class="btn btn-info" value="Show" ng-click="ShowDesignerLedgerDetail(item.staffID, item.name, item.city)" style="width: 80px; font-family: Arial; font-size: 10pt;  " /> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="quotation" style="background-color:#F8F8FF">

                            <table style="width:1000px;">
                                <tr>
                                    <td style="width:120px;">
                                        <input type="radio" ng-model="quotationValue" name="quotation" value="projectType" checked="checked" /><span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black">  Project type </span>
                                    </td>
                                    <td style="width:100px;">
                                        <select class="form-control" ng-model="ptype" ng-options="item for item in arrProjectType" style="color:black; width: 190px; height: 30px; font-family: Museo Sans 300; font-size: 10pt;margin-left:20px;     " />
                                    </td>
                                    <td style="width:100px;">
                                        <input type="radio" ng-model="quotationValue" value="projectID" name="quotation" /><span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black">  Project ID </span>
                                    </td>
                                    <td style="width:180px;">
                                        <input type="text" class="form-control" ng-model="txtProjectID" onkeypress="return IsNumber();" style="color:black; width: 100px; height: 30px; font-family:Arial; font-size:10pt" />
                                    </td>

                                    <td style="width:120px;">
                                        <input type="radio" ng-model="quotationValue" value="clientName" name="quotation" /><span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black">  Client name </span>
                                    </td>
                                    <td style="width:250px;">
                                        <input type="text" class="form-control" ng-model="txtName" style="color:black; width: 200px; height: 30px; font-family:Arial; font-size:10pt" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" ng-click="SearchQuotation()" style="width:90px; font-family: Arial; font-size: 10pt;  ">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <div class="tableFixHead" style="font-family:Arial; font-size:10pt; color:black">
                                <table style="width:1075px;">
                                    <thead>
                                        <tr>

                                            <th style="background-color:#1B1B1E;color:white; width:50px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt;  ">SNo.</span>
                                            </th>

                                            <th style="background-color:#1B1B1E;color:white; width:100px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt;  ">Project ID</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:250px;">
                                                <span style="margin-left:10px; font-family:Arial; font-size:10pt;  ">Client name</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:100px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Pr. Type</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:100px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Package</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:120px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Plot size</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:80px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Level</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:80px;">
                                                <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Amount</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white; width:150px;">
                                                <span style="margin-left:10px; font-family:Arial; font-size:10pt;">Remark</span>
                                            </th>

                                            <th style="background-color:#1B1B1E;color:white;  width:40px;">
                                                <span style="width:100px;  font-family:Arial; font-size:10pt;">PDF</span>
                                            </th>
                                            <th style="background-color:#1B1B1E;color:white;  width:40px;">
                                                <span style="width:100px;  font-family:Arial; font-size:10pt;">Send</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in quotationlist">
                                            <td>
                                                <span style=" font-family:arial; font-size:10pt;"> {{item.sno}}  </span>
                                            </td>
                                            <td>
                                                <span style=" font-family:arial; font-size:10pt;"> {{item.projectID}}  </span>
                                            </td>

                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;">  {{item.clientName}}  </span>
                                            </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;">  {{item.projectType }}  </span>
                                            </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;"> {{item.package}} </span>
                                            </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;"> {{item.plotSize}} </span>
                                            </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;"> {{item.projectLevel}} </span>
                                            </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;"> {{item.amount}} </span>
                                            </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:10pt;"> {{item.remark}}</span>
                                            </td>

                                            <td style="text-align:center">
                                                <img src="~/Images/pdf.png" ng-click="PdfOpen(item.projectID , item.projectType )" style="width:100%; height:12%;" />
                                            </td>
                                            <td>
                                                <input type="button" value="Send" class="btn btn-info" ng-click="QuotationSend(item.projectID , item.projectType)" style=" margin-left: 5px; width: 60px; height:30px; font-family: Arial; font-size: 10pt;   " />
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> <span style="font-family:Arial; font-size:12pt; font-weight:bold">Total  </span> </td>
                                            <td>
                                                <span style="font-family:Arial; font-size:12pt;font-weight:bold"> {{quotationAmount}}</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="balanceAdjust" style="background-color:#F8F8FF">
                            <table style="margin-left: 30px;width:80%">
                                <tr>
                                    <td style="width:100px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black"> Client name</span>
                                    </td>
                                    <td style="width:200px">
                                        <input type="text" ng-model="txtCNameBalanceAdjust" class="form-control" style="width:200px;height:35px; font-family:Arial; font-size:10pt" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" ng-click="ShowBalanceAdjust()" style="width:90px; font-family: Arial; font-size: 10pt;  ">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </button>

                                    </td>
                                    <td style="width:300px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black;font-weight:bold"> Total Old Balance : {{totaloldbalance}}</span>
                                    </td>
                                    <td style="width:300px">
                                        <span style="height:30px;font-family:Museo Sans 300 ;font-size:10pt; color:black;font-weight:bold"> Total Adjust Balance : {{totaladjustbalance}}</span>
                                    </td>

                                </tr>
                            </table>
                            <div class="tableFixHead" style="margin-left:10px; font-family:Arial; font-size:10pt; color:black">
                                <table style="width:800px;">

                                    <thead>
                                        <tr style="font-family:Arial;font-size:10pt;height: 30px;     border: solid 1px #659EC7;">

                                            <th style="width:250px;">&nbsp;&nbsp; Client Name</th>
                                            <th style="width:120px;">Old Balance </th>
                                            <th style="width:120px;">Balance Adjust </th>
                                            <th style="width:250px;">Remark </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in adjustbalancelist ">

                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;">&nbsp;&nbsp;{{item.clientName}} </span></td>
                                            <td style="text-align:left"> <span style=" font-family: Arial; font-size: 10pt; color: black;">{{item.oldBalance}} </span></td>
                                            <td style="text-align:left"> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.adjustBalance}}  </span></td>
                                            <td> <span style=" font-family: Arial; font-size: 10pt; color: black;"> {{item.remark}}  </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}

