 

@model  MvcSDesign.Models.logincls
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = null;

}


<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Password recovery | Arch Manager </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- preloader css -->
    <link rel="stylesheet" href="~/assets/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        var code;
        function checkValidatation() {

            var username = document.getElementById("username").value;
            var varcaptchImptch = document.getElementById("captchImptch").value;

            document.getElementById("lblErr").innerText = "";

            
            if ((username == "") || (username.length == 0)) {
                document.getElementById("username").focus();
                document.getElementById("lblErr").innerText = "Enter mail ID";
                return false;
            }
            else if ((varcaptchImptch == undefined) || (varcaptchImptch == "")) {
                document.getElementById("lblErr").innerText = "Enter captcha value ";
                document.getElementById("captchImptch").focus();
                return false;
            }
            else if (varcaptchImptch != code) {
                document.getElementById("lblErr").innerText = "Captch is not match ";
                document.getElementById("captchImptch").focus();
                return false;
            }


            if (validateEmail(username) == false) {

                document.getElementById("lblErr").innerHTML = "Invalid email ID";
                document.getElementById("username").focus();
                return false;
            }
            $("#loaderImg").show();
            $.ajax({
                url: "/Login/EmailMailSend",
                type: "POST",
                data: {
                    emailID: username
                },
                success: function (result) {
                    if (result.length == 0) {
                        alert("Password has sent on your mail ID " + username);
                        location.reload();
                    }
                    else {
                        alert("Error " + result)
                    }
                },
                error: function (err) {
                    alert("Error " + err);
                }
            })

          
            return false;

        }

        function checkValidatation1() {

            var username = document.getElementById("username").value;
            $("#loaderImg").show();
            $.ajax({
                url: "/Login/EmailMailSend1",
                type: "POST",
                data: {
                    emailID: username
                },
                success: function (result) {
                    if (result.length == 0) {
                        alert("Password has sent on your mail ID " + username);
                        location.reload();
                    }
                    else {
                        alert("Error " + result)
                    }
                },
                error: function (err) {
                    alert("Error " + err);
                }
            })


            return false;

        }


        function checkValidatation2() {

            var username = document.getElementById("username").value;
            $("#loaderImg").show();
            $.ajax({
                url: "/Login/EmailMailSend2",
                type: "POST",
                data: {
                    emailID: username
                },
                success: function (result) {
                    if (result.length == 0) {
                        alert("Password has sent on your mail ID " + username);
                        location.reload();
                    }
                    else {
                        alert("Error " + result)
                    }
                },
                error: function (err) {
                    alert("Error " + err);
                }
            })


            return false;

        }



        function checkValidatation3() {

            var username = document.getElementById("username").value;
            $("#loaderImg").show();
            $.ajax({
                url: "/Login/EmailMailSend3",
                type: "POST",
                data: {
                    emailID: username
                },
                success: function (result) {
                    if (result.length == 0) {
                        alert("Password has sent on your mail ID " + username);
                        location.reload();
                    }
                    else {
                        alert("Error " + result)
                    }
                },
                error: function (err) {
                    alert("Error " + err);
                }
            })


            return false;

        }






        function validateEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function loaderHide() {

            $("#loaderImg").hide();
            createCaptcha();

        }
        function createCaptcha() {
            document.getElementById('captcha').innerHTML = "";
            var charsArray = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@@!#$%^&*";
            var lengthOtp = 6;
            var captcha = [];
            for (var i = 0; i < lengthOtp; i++) {

                var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
                if (captcha.indexOf(charsArray[index]) == -1)
                    captcha.push(charsArray[index]);
                else i--;
            }
            var canv = document.createElement("canvas");
            canv.id = "captcha";
            canv.width = 100;
            canv.height = 50;
            var ctx = canv.getContext("2d");
            ctx.font = "25px Georgia";
            ctx.strokeText(captcha.join(""), 0, 30);
            code = captcha.join("");
            document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element




        }


    </script>
</head>

@using (Html.BeginForm("PasswordRecovery", "Login", FormMethod.Post, new { id = "frmID" }))
{


    <body onload="loaderHide()">

        <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">

                    <div class="col-xxl-8 col-lg-7 col-md-7">
                        <img src="~/images/v1.jpg" class="img-fluid" style="width: auto; height: 100%;" alt="...">


                    </div>

                    <div class="col-xxl-3 col-lg-4 col-md-5">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4 mb-md-5 text-center">
                                        <a href="index.html" class="d-block auth-logo">
                                            <img src="~/assets/images/logo-sm.png" alt="" height="28"> <span class="logo-txt">Arch Manager</span>
                                        </a>
                                    </div>
                                    <div class="auth-content my-auto">
                                        <div class="text-center">

                                            <h4 class="text-muted mt-2">Password Recovery</h4>
                                        </div>
                                        <form class="mt-6 pt-2" action="index.html">
                                            <div class="mb-3">
                                                <label class="form-label">Email ID</label>
                                                @Html.TextBoxFor(x => x.username, new { @class = "form-control form-control-user", placeholder = "Register Email" })
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Captch Image</label>
                                                <input name="captchImptch" id="captchImptch" value="" placeholder="Enter the text as shown in the image" type="text">
                                            </div>
                                            <div class="mb-3">
                                                <table>
                                                    <tr>
                                                        <td style="width:120px;">
                                                            <div id="captcha">
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <a class="btn btn-secondary" onclick="createCaptcha()" style="width:40px;height:35px;"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="row mb-4">
                                                <label id="lblErr" style="color:red; font-size:12pt"></label>
                                            </div>

                                            <div class="row text-center mb-3" id="loaderImg">
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-dark waves-effect waves-light ">
                                                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button type="submit" onclick="return checkValidatation()" class="btn btn-primary w-100 waves-effect waves-light">Forward Password</button>
                                            </div>
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <label class="form-label"></label>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="">
                                                        <a href="/Login/Index" class="text-muted" style="font-size:12pt">Login</a>
                                                    </div>
                                                </div>
                                            </div>




                                        </form>


                                    </div>
                                    <div class="mt-4 mt-md-5 text-center">
                                        <p class="mb-0">
                                            Copyright ©️2023-2028 Tenronse ®️. All Rights Reserved
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- JAVASCRIPT -->
        <script src="~/assets/libs/jquery/jquery.min.js"></script>
        <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="~/assets/libs/node-waves/waves.min.js"></script>
        <script src="~/assets/libs/feather-icons/feather.min.js"></script>
        <script src="~/assets/libs/pace-js/pace.min.js"></script>
        <script src="~/assets/js/pages/pass-addon.init.js"></script>

    </body>
}
</html>