@{
    ViewBag.Title = "ShowVideo";
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>

    <h1>The video element</h1>
    @*<video id="VideoPlayer" src="@Url.Content("~/prf/VID-20191219-WA0021.mp4")" controls="true" width="400" height="350" loop="true" />*@

    <br /><br />
    <br /><br /><br />

    @*<video id="VideoPlayer5" src="http://localhost:53906/api/Stream/Show/'54'" controls="true" width="400" height="350" loop="true" />*@
    @*<video id="VideoPlayer" src="@Url.Content("https://www.youtube.com/watch?v=-Rgml1kwHYs")" controls="true" width="400" height="350" loop="true" />*@


    @*<iframe id='fp_embed_player' src='https://o1.letsplay.video:8888/embed_player?urlServer=wss://o1.letsplay.video:8443&streamName=&mediaProviders=WebRTC,MSE'
            marginwidth='0' marginheight='0' frameborder='0' width='100%' height='100%' scrolling='no' allowfullscreen='allowfullscreen'>
    </iframe>*@


    <iframe id='fp_embed_player' src="~/prf/VID-20191219-WA0021.mp4"
            marginwidth='0' marginheight='0' frameborder='0' width='500px' height='500px' scrolling='no' allowfullscreen='allowfullscreen'>
    </iframe>

</body>
</html>

