@{
    ViewBag.Title = "Report Quotation";
    Layout = "~/Views/Shared/_NewAdmin.cshtml";
}

<!doctype html>
<html lang="en">

<head>

    <script src="~/angularjs/ReportQuotation.js"></script>
    <script type="text/javascript">
        function IsNumber(e) {

            var theEvent = event || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;

            if (!regex.test(key)) {
                theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
            }
        }

    </script>
</head>


@using (Html.BeginForm())

{
<body>

    <div ng-app="myApp">
        <div ng-controller="myController">
            <div class="page-content">
                <div class="container-fluid">
                     
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between mt-4">
                                <div class="col-xl-3 col-md-2">
                                    <div class="form-group mb-3 ">
                                        <h4 class="mb-sm-0 font-size-18 mt-3">Quotation Report</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-3">
                                <label>From Date   </label>
                                <div class="input-group">
                                    <input type="date" id="fromStart" class="form-control" ng-model="fromStart">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-3">
                                <label>To Date   </label>
                                <div class="input-group">
                                    <input type="date" id="toEnd" class="form-control" ng-model="toEnd">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-2">
                                <label><input type="radio" ng-model="quotationValue" class="form-check-input ml-1" value="projectID" name="quotation" />&nbsp;&nbsp; &nbsp;&nbsp;Project ID</label>
                                <input class="form-control" ng-model="txtProjectID" onkeypress="return IsNumber();">

                            </div>
                        </div>

                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-3">
                                <label><input type="radio" ng-model="quotationValue" value="clientName" name="quotation" class="form-check-input ml-1" />&nbsp;&nbsp; &nbsp;&nbsp;Client Name </label>
                                <input class="form-control" ng-model="txtName">
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-3">
                                <label><input type="radio" ng-model="quotationValue" value="projectName" name="quotation" class="form-check-input ml-1" />&nbsp;&nbsp; &nbsp;&nbsp;Project Name </label>
                                <input class="form-control" ng-model="txtProjectName">
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-3">
                                <label> . </label>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" ng-click="SearchQuotation()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12 text-left">
                            <label> <span class="text-danger font-size-16 font-weight-bold">{{searchdmsg}}</span> </label>
                        </div>
                    </div>
                    <div class="text-center" ng-hide="loading">
                        <button type="button" class="btn btn-dark waves-effect waves-light">
                            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                        </button>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <thead class="bg-warning text-white">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Project ID</th>
                                                    <th>Client name</th>
                                                    <th>Project Name</th>
                                                    <th>Plot size</th>
                                                    <th>Level</th>
                                                    <th>Amount</th>
                                                    <th>Remark</th>
                                                    <th>Action </th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in quotationlist">
                                                    <td>
                                                        <span> {{item.sno}}  </span>
                                                    </td>
                                                    <td>
                                                        <span> {{item.projectID}}  </span>
                                                    </td>

                                                    <td>
                                                        <span>  {{item.clientName}}  </span>
                                                    </td>
                                                    <td>
                                                        <span>  {{item.projectName }}  </span>
                                                    </td>
                                                    <td>
                                                        <span> {{item.plotSize}} </span>
                                                    </td>
                                                    <td>
                                                        <span> {{item.projectLevel}} </span>
                                                    </td>
                                                    <td style="text-align:right">
                                                        <div ng-if="item.status =='request'">
                                                            <span> {{item.amount}} </span>
                                                        </div>
                                                        <div ng-if="item.status !='request'">
                                                            <span> {{item.finalizeAmount}} </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span> {{item.remark}}</span>
                                                    </td>
                                                    <td>

                                                        <button type="button" class="btn btn-primary waves-effect waves-light w-sm" ng-click="PdfOpen(item.projectID , item.projectType )">
                                                            @*<i class="fas fa-file-pdf" style='font-size:24px;color:red'></i>*@PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr style="font-weight:bold;font-family:Arial;font-size:10pt;">
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;">Total </td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7; text-align:right"><span style="font-size:10pt"> {{totalAmount}}   INR</span> </td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                    <td style="font-weight:bold;font-family:Arial;font-size:10pt;height: 30px; background-color:#302B2B ; color:#FFFFFF ;border: solid 1px #659EC7;"></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center ">
                                    <span class="text-danger text-center font-size:16  " style="">{{recordmsg}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

}
</html>
