
 

 @{
    ViewBag.Title = "Current Working";
}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.0.0.js"></script>

<script src="~/Scripts/angular.js"></script>
<script src="~/angularjs/designerCW.js"></script>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

}

<style type="text/css">
    .modal {
        border: 1px solid black;
        border-radius: 2px;
        background: #87CEEB;
        display: block;
        position: absolute;
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        width: 390px;
        height: 420px;
        /*width: 100%; /* Full width */
        /*height: 700px;*/
        /* Enable scroll if needed */
        /*background-color: rgb(0,0,0); /* Fallback color */
        /*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
    }


    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
    }

    .popupAssign {
        /*border: 1px solid black;*/
        border-radius: 2px;
        background-color: white;
        margin: 2px auto 0;
        padding: 2px;
        /*margin: 2px auto 0;*/
        position: absolute;
        margin-top: 40%;
        margin-left: 40%;
        margin-top: 10%;
        width: 400px;
        height: 400px;
        z-index: 1;
        /*visibility: hidden;*/
    }


    .rdClass1 {
        width: 20px;
    }
</style>

<br /><br /><br /><br />
<table style="width:  1000px;height:25px; ">
    <tr>
        <td style="width: 600px; text-align: left; height: 25px;">
            <h2 style="font-family:Arial; font-size:18pt;margin-left:50px"> Working list</h2>
        </td>
        <td style="width: 100px; text-align:center;height:30px;">
            <span style="margin-left:10px;font-family:Arial; font-size:10pt;font-weight:bold;  ">Normal</span>
        </td>

        <td style="width: 100px; text-align: center; background-color: #ffa500;height:30px;">
            <span style="margin-left: 10px; font-family: Arial; font-size: 10pt; font-weight: bold; ">Attention</span>
        </td>

        <td style="width: 80px; text-align: center; background-color: #ff0000;height:30px; ">
            <span style="margin-left: 10px; font-family: Arial; font-size: 10pt; font-weight: bold; ">Critical</span>
        </td>

    </tr>
</table>


@using (@Html.BeginForm())
{

    <div ng-app="myApp">
        <div ng-controller="myController">
            <div id="searchParameters" class="left-panel">
                 
                 

                <div style="margin-left:50px; padding: 0; border-collapse: collapse; width:990px; height: 5000px; overflow: hidden; ">
                    <table class="table table-responsive table-bordered" style="margin-left:0px; margin-top:0px; padding: 0; border-collapse: collapse; width:1200px; text-align: left; ">
                        <thead>
                            <tr>

                                <td style="background-color: #1B1B1E; color: black; width: 40px;">
                                    <span style="margin-left:10px; font-family:Arial; font-size:10pt; ">&nbsp;&nbsp;Sno</span>
                                </td>
                                <td style="background-color: #1B1B1E; color: black; width: 100px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:10pt;  ">Project ID</span>
                                </td>
                                
                                <td style="background-color: #1B1B1E; color: black; width: 200px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Project Type</span>
                                </td>
                                <td style="background-color: #1B1B1E; color: black; width: 200px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Category</span>
                                </td>
                                <td style="background-color: #1B1B1E; color: black; width: 100px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Package</span>
                                </td>
                                <td style="background-color: #1B1B1E; color: black; width: 100px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Plot size</span>
                                </td>
                                <td style="background-color: #1B1B1E; color: black; width: 100px;">
                                    <span style="margin-left:10px;font-family:Arial; font-size:10pt; ">Level</span>
                                </td>

                                
                                <td style="background-color: #1B1B1E; color: black; width: 200px;">
                                    <span style="margin-left:10px; font-family:Arial; font-size:10pt;  ">Remark</span>
                                </td>

                                
                            </tr>
                        </thead>

                        <tr ng-repeat="item in designerWrokingList">
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style=" font-family:arial; font-size:10pt;"> {{item.sno}}  </span>
                            </td>
                            <td style="background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;">  {{item.projectID}}  </span>
                            </td>
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;">  {{item.projectType }}  </span>
                            </td>
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;"> {{item.projectCategory}} </span>
                            </td>
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;"> {{item.package}} </span>
                            </td>
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;"> {{item.plotSize}} </span>
                            </td>
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;"> {{item.projectLevel}} </span>
                            </td>
                            <td style=" background-color:{{item.rowcolor }}">
                                <span style="font-family:Arial; font-size:10pt;"> {{item.remark}}</span>
                            </td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
