@font-face {
    font-family: '911 Porscha';
    src: url('../fonts/911PorschaLaser.woff2') format('woff2'), url('../fonts/911PorschaLaser.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.sidenav {
    height: 100%;
    width: 100%;
    /*background-image: url('../images/city.jpg');
    overflow-x: hidden;*/
}

.dsuite-h2 {
    font-family: '911 Porscha';
    font-weight: 600;
    font-size: 40px;
}

.main {
    padding: 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
}

.login-main-text {
    color: #fff;
    height: 100%;
    padding: 20px 30px;
    display: table;
    width: 100%;
    background-image: linear-gradient(135deg, #667eea9e 0%, #764ba2a6 100%)
}

.login-main-text-inner {
    display: table-cell;
    vertical-align: middle;
}
